---
tags: recipe
name: Aafrika maapähklisupp
pic: assets/aafrika-supp.jpg
feeds: 8
time: 1h 15min
ingredients:
  - - 2 sl
    - oliiviõli (sobib ka muu õli)
  - - 2
    - sibulat
  - - 2
    - punast paprikat
  - - 4 
    - küüslauguküünt
  - - 1 purk 
    - purustatud tomateid koos vedelikuga 
  - - 1.9 l  
    - köögiviljapuljongit 
  - - 0.25 tl 
    - pipart 
  - - 0.25 tl 
    - tšillipulbrit (võib välja jätta) 
  - - 160 ml
    - maapähklivõid (võimalusel crunchy) 
  - - 120 ml
    - keetmata pruuni riisi
---

extends /recipe.pug

block instructions

    h2 Valmistusjuhend:

    p.
      Kuumuta õli keskmisel kuumusel suures paksu põhjaga potis. Lisa hakitud sibulad ja paprika ning prae kuni kõik natuke pehmemaks muutuvad. Veidi enne lõppu lisa hakitud küüslauk,
      et vältida selle kõrbemist. Lisa tomatid, puljong, pipar ja tšillipulber. Lisa riis. Keera kuumust madalamaks ning lase tasasel tulel keeda kuniks riis pehmeks muutub, u 30-45 min. 
    br
    p.
      Kui riis on hamba all sobiva tekstuuriga, lisa maapähklivõi ning sega kuni see on ühtlaselt segunenud. Serveeri.
    