---
tags: recipe
name: Kreemine avokaadopasta
pic: assets/avokaadopasta.jpg
feeds: 3
time: ca 10 min
ingredients:
  - - 375 g
    - lemmikpastat
  - - 3
    - avokaadot
  - - 2
    - küüslauguküünt
  - - 4.5 spl 
    - oliiviõli
  - - 3 spl 
    - laimimahla (u 1 laim) 
  - - 3 spl 
    - maitsepärmi
  - - 9 spl 
    - pasta keeduvett
  - - 3 spl 
    - värsket basiilikut
  - - maitse järgi
    - soola ja pipart
  - - 100 g
    - kirsstomateid
  - - 1 vars
    - rohelist sibulat
---

extends /recipe.pug

block instructions

    h2 Valmistusjuhend:

    p.
      Keeda pasta soolases vees pakendi juhisele vastavalt.

    p.
      Samal ajal, kui pasta keeb, valmista ette kaste:
      lisa blenderisse kooritud ja ilma kivideta avokaadod, kooritud küüslauguküüned, oliiviõli, laimimahl,
      maitsepärm, pasta keeduvesi ja maitseained.

    p.
      Kurna pasta ja pane pasta tagasi keedupotti, sega koos kastmega. Lisa tükeldatud tomatid ja sega.
      Serveeri ja kaunista tomatite ja rohelise sibulaga. Lisa muud meelepärast.