---
tags: recipe
name: Banaanipannkoogid
pic: assets/placeholder.png
feeds: 2-3
time: 20 min
ingredients:
  - - 3 dl
    - jahu 
  - - 2 dl
    - taimset piima
  - - 1-2
    - banaani
  - - 1 tl
    - küpsetuspulbrit
  - - 
    - soola 
  - - 1 spl
    - suhkrut 
  - - 1 tl
    - vanillisuhkrut 
---

extends /recipe.pug

block instructions

    h2 Valmistusjuhend:

    p.
      Sega omavahel kõigepealt kuivad koostisained: jahu, küpsetuspulber, sool, suhkur ja vanillisuhkur.
      Purusta banaanid ja sega need piimaga. Sega nüüd kuivad ained banaani-piima segusse. 

    p.
      Kuumuta pannil õli ning küpseta pannkoogid. Mina tegin pigem väiksemaid kooke. Küpseta madalal kuumusel,
      siis on neid lihtsam pöörata, sest saavad kauem taheneda.