---
tags: recipe
name: Kikerherneomlett
pic: assets/kikerherneomlett.jpg
ingredients:
  - - 3 spl
    - kikerhernejahu 
  - - 2-3 spl
    - maitsepärmi
  - - maitse järgi
    - maitseaineid
  - - 225 ml
    - vett 
  - - 1 
    - sibul 
  - - peotäis
    - tilli
  - - 
    - õli praadimiseks  
---

extends /recipe.pug

block instructions

    h2 Valmistusjuhend:

    p.
      Sega kõigepealt omavahel kuivad koostisained (jahu, maitsepärm, maitseained). Seejärel lisa jupi kaupa vett ning sega hoolikalt,
      et vältida tükke. Tainas peaks olema pigem paksem.
  
    p.
      Lisa hulka peenelt hakitud sibul ja till. Sibula võib asendada ka näiteks seente või paprikaga. Kui liiga palju sisu panna,
      võib omlett kergemini keerates katki minna. Sega.

    p.
      Lisa segu pannile, prae mõlemalt poolt. Serveeri kohe, näiteks salati ja kastmega.