---
tags: recipe
name: KÄKI PAGARIKOJA LEGENDAARSED KÕRVITSAKUKLID
pic: assets/korvitsakuklid.png
ingredients:
  - - 250 g
    - käesooja kõrvitsapüreed (vajadusel värviks kurkumit)
  - - 50 g
    - suhkrut
  - - 25 g
    - presspärmi
  - - 10 g 
    - soola
  - - 100 ml 
    - õli
  - - 500 g 
    - jahu
  - - veidi õli 
    - ürdi-küüslauguõli jaoks
  - - veidi 
    - küüslauku
  - - 0.5 vart
    - rohelist sibulat
---

extends /recipe.pug

block instructions

    h2 Valmistusjuhend - 10 kuklit:

    p.
      Kui sul ei ole kõrvitsapüreed, siis rösti körvitsakuubikud ahjus pehmeks ja püreesta. 
      Käesooja körvitsapüree sisse pudista pärm. 

    p.
      Sega kausis kuivained: jahu, sool, suhkur. Lisa kõrvitsapüreele kuivained ja õli, 
      sega kokku ja sõtku nagu tavalist pärmitainast, kuni see on sile ja ühtlane.

    p.
      Pane taignapall kaussi ja lase soojas kohas kaetult kerkida mitmekordseks. Jaga kenasti kerkinud tainas 90 g tükki-deks, 
      vormi käte vahel kuklid ja aseta ahjuplaadile uuesti kerkima - eesmärk on, et pallid kerkiksid kokku. 
      Kui pallid on kokku paisunud, pintselda neid tavalise õliga ja küpseta u 190-kraadises ahjus 15 minutit. 
    
    p.
      Samal ajal tee ürdiõli: purusta paar küüslauguküünt, väike kimp rohelist sibulat õlis saumiksriga. Pintselda kuklid ürdi-küüslaugu õliga 
      üle kuumalt kohe pärast ahjust välja võtmist ja puista peale soolahelbeid.
