---
tags: recipe
name: Läätsepallid
pic: assets/laatsepallid.jpg
ingredients:
  - - 350 g
    - keetmata rohelisi või pruune läätsi 
  - - 1
    - küüslauguküüs
  - - 1 tl
    - karripulbrit 
  - - 1.5 tl 
    - soola 
  - - 90 g 
    - kaerajahu või täistera nisujahu (u 8 kuhjaga spl)
  - -
    - õli praadimiseks  
---

extends /recipe.pug

block instructions

    h2 Valmistusjuhend:

    p Keeda läätsed rohkes vees täiesti pehmeks, kuni nad juba pudruks hakkavad muutuma. Selleks kulub 30 - 35 minutit. 
      | Kurna läätsed, loputa külma veega läbi ja pigista kõik üleliigne vesi läätsedest korralikult välja. Nüüd mudi läätsed kätega täiesti pudruks, 
      | lisa peeneks hakitud sibul ja küüslauguküüs, sool, karripulber ja jahu. Sega kõik korralikult läbi ja lase paar minutit seista. 
      | Aja pann kuumaks ja vala sinna paras ports õli. Tee käed märjaks ja vormi väikesed või keskmised läätsepallid ning aseta need pannile praadima. 
      | Prae mõlemalt poolt krõbedaks. 
      | Säilib külmikus mitu päeva!