---
tags: recipe
name: Läätse pikkpoiss
pic: assets/laatse-pikkpoiss.jpg
ingredients:
  - - 240 ml
    - kuivad rohelised/pruuni läätsed
  - - 360 ml
    - köögiviljapuljongit
  - - 3 spl
    - jahvatatud linaseemneid
  - - 80 ml
    - vett
  - - 2 spl
    - oliiviõli
  - - 3 
    - küüslauguküünt, hakitud
  - - 1
    - sibul, peeneks hakitud 
  - - 1
    - paprika, peeneks hakitud 
  - - 1 
    - porgand, riivitud 
  - - 180 ml
    - kaerahelbeid 
  - - 120 ml 
    - kaerajahu
  - - 1 tl
    - kuivatatud tüümian
  - - 1/2 tl
    - jahvatatud vürtsköömned (jeera)
  - - 1/2 tl 
    - sibulapulber
  - - 1/2 tl
    - küüslaugupulber
  - - maitse järgi 
    - sool ja pipar
  - - 9 spl
    - tomatipastat
  - - 3 spl
    - balsamico äädikas
  - - 3 spl
    - agaavisiirup/vahtrasiirup
---

extends /recipe.pug

block instructions

    h2 Valmistusjuhend:

    p.
      Loputa läätsed ning lisa need potti koos puljongiga. Kuumuta keemiseni, kata kaanega ning lase madalal kuumusel ca 35-40 min haududa, aeg-ajalt segada
      Kui läätsed on valmis, võta kaas pealt ning aseta u 15 min kõrvale jahtuma. Vett ei peaks alles olema, kurnama ei pea.

    p.
      Pane ahi 180 kraadi peale soojenema.

    p.
      Väikses kausis, sega kokku jahvatatud linaseemned ja 80 ml vett, jäta u 10 min külmkappi seisma.
    
    p.
      Kuumuta pannil oliiviõli, lisa küüslauk, sibul, paprika ja porgand ning prae u 5 min. Lisa hulka vürtsid, sega ja tõsta kõrvale jahtuma.

    p.
      Püreesta 3/4 läätsedest. Sega kuumutatud köögiviljad läätsede, kaerahelveste, jahu ning linaseemne ja vee seguga.
    
    p.
      Pane leivavormi küpsetuspaber või määri vorm õliga. Kalla segu vormi ning vajuta korralikult tahkeks.
    
    p.
      Valmista glasuur: sega kokku tomatipasta, balsamico äädikas ning agaavisiirup. Kalla kaste vormi segu peale ja määri laiali.
      Kastet võiks olla ohtralt.

    p.
      Aseta vorm ahju 45-50 minutiks. Enne viilutamist lase jahtuda.