---
tags: recipe
name: Maroko läätsesupp
pic: assets/placeholder.png
ingredients:
  - - 1 sl
    - õli
  - - 2
    - sibulat
  - - 1-2
    - porgandit
  - - 150-200 g
    - sõrmkartulit (sobib ka muu väike kartul)
  - - 3 
    - küüslauguküünt
  - - 1 tl 
    - soola 
  - - 1 tl 
    - pipart 
  - - 2 tl 
    - kurkumit 
  - - 2 tl 
    - jahvatatud vürtsköömneid (jeera) 
  - - 2 tl 
    - ingveripulbrit 
  - - 2 tl 
    - suitsupaprikat
  - - 1 tl
    - kaneeli
  - - 236 ml
    - rohelisi või pruuni läätsi
  - - 236 ml
    - punaseid läätsi
  - - 1 l
    - köögiviljapuljongit
  - - 400 ml 
    - vett 
  - - 60 ml
    - tomatipastat
  - - 236 ml
    - taimset piima
  - - 1 sl
    - sidrunimahla 
  - - 60-90 g
    - spinatit
---

extends /recipe.pug

block content

    h2 Valmistusjuhend:

    p.
      Kuumuta õli suures paksu põhjaga potis. Lisa sibulad, porgand, kartul ja küüslauk ning prae u 5min kuni kõik natuke pehmemaks muutuvad. Maitsesta soola, pipra ja vürtsidega,
      lase küpseda u 2 min.
    br
    p.
      Lisa läätsed ning prae 1-2 min, seejärel lisa puljong, vesi ja tomatipasta. Sega kuniks tomatipasta on ühtlaselt segunenud. Kuumuta supp keemiseni, 
      kata ning keeda tasasel tulel 30 min.  
    br
    p.
      Eemalda tulelt ja sega sisse taimne piim, sidrunimahl, spinat ning sega kuniks spinat on närbunud. Serveeri koheselt. Kaunistuseks võib panna tiamset koort, tšillihelbeid jms.
