---
tags: recipe
name: Kohupiimakook mustikatega
pic: assets/placeholder.png
time: 20 min
ingredients:
  - - 1-2 pakk(i)
    - pehmet tofut 
  - - 1
    - purustatud Digestive küpsiseid
  - - 60 g
    - sulatatud Keiju tumesinist margariini
  - - 1 purk
    - toasooja kookospiima kreemjam osa
  - - 150 g
    - suhkur
  - - 1/2 
    - apelsini mahl 
  - - 1/2
    - sidruni mahl 
  - - 1-2 tl
    - vanillisuhkrut 
  - - 0.5 tl
    - soola 
  - -  
    - marju peale panemiseks 
---

extends /recipe.pug

block instructions

    h2 Valmistusjuhend:

    p Sega purustatud küpsisepudi sulamargariiniga ning täida 26 cm koogivorm ühtlastelt saadud seguga.
    | Pane vorm külmkappi.

    p Pane kõik katte koostisained korraga köögikombaini mõneks minutiks kuni mass on muutunud ühtlaseks kreemiks
    | või sulle sobivaks tekstuuriks. Rohkema tofuga on rohkem kohupiimasem, vähemaga kreemisem.

    p Saadud kreem pane küpsisepõhja peale ja marjad kaunistuseks peale. Aseta kook 175 kraadisesse ahju u 20-30 minutiks
    | kuniks kate enam peale ei läigi ja vormi kõigutades enam väga ei võdise.

    p Kook peaks jahtuma ahjust väljas ca tunnikese ja mingi aja külmkapis viibima, et taheneda.