---
tags: recipe
name: Oapilaff
pic: assets/oapilaff.jpg
ingredients:
  - - 3 sl
    - õli
  - - 1
    - suur sibul
  - - 1
    - suur porgand
  - - 3
    - küüslauguküünt
  - - 250 g 
    - riisi
  - - 1.5 l 
    - kuuma vett 
  - - 2-3
    - loorberilehte
  - - näpuotsaga
    - jahvatatud musta pipart
  - - 1-2 tl
    - soola
  - - 400 g purk
    - ube
  - - 250 ml 
    - tomatipastat
  - - 
    - maitserohelist
---

extends /recipe.pug

block instructions

  h2 Valmistusjuhend:

  p. 
    Aja paksema põhjaga pott või pann pliidil kuumaks. Lisa õli ning tükeldatud sibul ja porgand. Kuumuta paar minutit, aeg-ajalt segades. 
    Lisa tükeldatud küüslauguküüned ja riis. Kuumuta pool minutit ning lisa vesi. Lisa ka kõik maitseained (loorberilehed, pipar ja sool) 
    ning kurnatud oad. Keeda tasasel tulel kaane all, aeg-ajalt segades, kuni riis on peaaegu pehme. Lisa tomatipasta, sega ning keeda, 
    kuni riis on valmis. Serveeri koos maitserohelisega. Ubade asemel saab edukalt kasutada ka näiteks tofut või konserveeritud kikerherneid.
