---
tags: recipe
name: Õunakook
pic: assets/ounakook.jpg
feeds: 5
time: ca 50 min
ingredients:
  - - 250 g
    - lehttainast
  - - 3 tl
    - suhkrut
  - - 0.75 tl
    - kaneeli
  - - 300 g 
    - õuna 
---

extends /recipe.pug

block instructions

    h2 Valmistusjuhend:

    p.
      Pane ahi 180-200°C peale soojenema. Nii alt kui ka pealt kuumus.

    p.
      Rulli toas soojenenud lehttainas plaadi peale õhukeseks. Raputa peale natuke suhkrut.
      Lisa õunatükid või viilud ning nende peale kaneel ja suhkur. 

    p.
      Kui ahi on valmis, pane kook ahju. Valmis on siis, kui tainast servast kergitades
      on alt natuke kollakas-pruunikaks muutunud.