---
tags: recipe
name: Šašlõkk
pic: assets/suslik.jpg
ingredients:
  - - 1.5 l
    - kanget puljongit (nt Vegeta "Natur" 75 g) 
  - - 100 g
    - kanget tomatipastat
  - - 2
    - värsket hakitud tšillit
  - - 50 ml
    - 30% söögiäädikat
  - - 200 ml 
    - sojakastet
  - - 400 ml 
    - rapsiõli 
  - - 2-4
    - sibulat, viilutatud ketasteks 
  - - 2-3 pakki 
    - kuivatatud sojakotlette
---

extends /recipe.pug

block content

    h2 Valmistusjuhend:

    p Keeda sojakotletid pakendil märgitud juhendi järgi (ca 20min soolamata vees). Samal ajal valmista ette marinaad.
      | Sega kõik koostisained omavahel korralikult läbi ning lisa sibulakettad ning keedetud sojakotletid.
      | Jäta grillitav vähemalt neljaks tunniks, parem aga üleöö marineerima. Jälgi, et marinaad kataks kogu grillitava. 