---
tags: recipe
title: Tofupuder
ingredients:
  - - 1 pakk
    - pehmet tofut 
  - - 1
    - sibul
  - - 2
    - küüslauguküünt
  - - 
    - õli
  - - 
    - köögivilju (nt paprika, tomat, spinat)
  - - 2-3 spl 
    - maitsepärmi 
  - - 
    - soola 
  - - 
    - pipart 
  - - 0.5 tl
    - karripulbrit 
  - - 0.5 tl 
    - paprikapulbrit 
  - - 250 ml 
    - taimset koort  
---

extends /recipe.pug

block content

    h2 Valmistusjuhend:

    p Pruunista pannil õlis sibul, küüslauk ja köögiviljad. Mõne aja pärast lisa tofu ja sool ning lase segul keskmisel kuumusel 
      | seda aeg-ajalt segades valmida nii kaua, kuni ka tofu hakkab kergelt pruunikamat jumet võtma (u 7 minutit). 
      | Lisa maitsepärm, karripulber, paprikapulber ja pipar. Sega korralikult ning lisa taimne piim või koor. 
      | Lase tofu pudrul kenasti soojeneda ning naudi maitseelamust!