---
title: Retseptid
---

extends /base.pug

block content
  .mt-10.mx-10
    h1.flex.justify-center Retseptid

    h2.flex.justify-center.mb-5 NB! Retseptid on siit-sealt aastate jooksul kokku kogutud ning peamiselt teiste välja mõeldud.

    div(class="grid gap-4 grid-cols-1 md:grid-cols-2")
      each recipe in collections.recipe
        a.recipe-link(href=recipe.url)
          img(src=recipe.data.pic) 
          .recipe-name
            | #{recipe.data.name}

