head
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DKQ7WCJJYH"></script>
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DKQ7WCJJYH');
  
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")

  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet")
  link(rel="preload" href=filters.url('/css/style.css') as="style")
  link(rel="stylesheet" href=filters.url('/css/style.css') media="all")
  link(rel="icon" href="/assets/bowl-food-solid.svg")

  title #{title}
