head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="preload" href=filters.url('/css/style.css') as="style")
  link(rel="stylesheet" href=filters.url('/css/style.css') media="all")
  title #{title}
