.border.rounded-lg.shadow-sm.overflow-hidden
  .p-2.border-b.mb-2.bg-slate-50
    h2 Koostisosad
  .p-2.mb-2
    table.font-light
      each ingredient in ingredients 
        tr 
          td(class="pl-2 ") #{ingredient[0]} 
          td(class="px-2") #{ingredient[1]}